

@start-bg: rgba(170, 204, 230, 0.5);
@end-bg: rgba(72, 156, 217, 0.5);

.frosted-glass {
    background: #E0E0E0;
    background: linear-gradient(to right top, @start-bg, @end-bg);
}

.search-container {
    width: 40%;
    margin: 15% auto;
    padding: 1em;
}